/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');


/* Custom Properties */
:root {
    /* colors */
    --clr-white: #ffffff;
    --vlr-black: #111111;
    --clr-light-blue:#ebfaff;
    --clr-light-purple:#f0ebff;
    --clr-blue:#49c9e9;
    --clr-purple:#6949e9;

    /* Heading colors */
    --clr-drk-blue: #102a42;

    /* font */
    --ff-primary:"Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --spacing: 0.25rem;
    --radius: 0.5rem;

    /* animation */
    --transition: all 0.3s linear;

    /* shadows */
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);

}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-drk-blue);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1,h2,h3,h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}


/* Navbar */

.nav {
    height: 5rem;
    padding: 1rem;
    display: grid;
    align-items: center;
    -webkit-box-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
}

.nav-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-blue);
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
}

span{
    color: var(--clr-blue);
}

h2.name-header {
    text-shadow:1px 1px 6px #fff, 2px 2px 3px #000;
}


/* Fixed Navbar */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    z-index: 2;
    box-shadow: var(--light-shadow);
}


